:root {
    --color-first: #f25a70;
    --color-second: #7c5e99;
    --color-third: #ffffff;
  
    --color-black-first: #000;
    --color-black-first-light: rgba(0, 0, 0, 0.5);
    --color-theme: #FFCB05;
    --color-success: #62c370;
    --color-error: #ba1f33;
  }
  
  * {
    margin: 0;
    padding: 0;
  }
  
  body {
    display: flex;
    align-items: center;
    justify-content:center;
    color: var(--color-third);
    background-image: url('https://w.wallhaven.cc/full/ey/wallhaven-eyp7p8.png');
    background-size:cover;
    background-repeat:no-repeat;
  }


  h1 {
    margin-top: 40px;
    font-size: 40px;
    font-weight: 600;
    font-family: 'Trade Winds', cursive;
    text-align: center;
  } 


  h3 {
    margin-top: 40px;  
    font-size: 15px;
    font-weight: 200;
    font-family: 'Trade Winds', cursive;
    text-align: center;
  } 

 .card img {

        
        width: 100%;
        height: 90%;
        
        position: absolute;

  }

  .card img:nth-child(2){opacity: 0; transition:0.5s}
  .card:hover img:nth-child(2){opacity: 1; transition:0.5s}

  .card{
  
    position: relative;
    width: 10rem;
    height: 20rem;
    display: inline-block;
    cursor: pointer;
    border-radius: 5px;
    margin:5px;
    overflow:hidden;
}

  *{transition:0.2s}

  .card:hover{
    transform:scale(1.1);
    z-index: 1;
    }

  